p {
  color: dodgerblue;
}

#mainpara {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

.my-class {
  background-color: lemonchiffon;
}

img[src] {
  height: 100px;
}
